.list_products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 8px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: space-between;
  margin: 15px 10px;
  padding: 0 20px;
  width: 195px;
}

.card:hover {
  box-shadow: 0 0 12px 7px rgba(189, 189, 189, 0.41);
}

.card div:first-of-type {
  display: flex;
  flex-direction: column;
}

.card img {
  margin-left: 15%;
  margin-top: 50px;
  width: 120px;
}

.card-title {
  font-size: 14px;
  -webkit-line-clamp: 3;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
}

.card-price span:last-of-type {
  font-size: 14px;
  font-weight: 500;
}

.card-price-credit {
  font-size: 14px;
}

.card-add {
  border-radius: 0 0 5px 5px;
  color: black;
  width: 100%;
}

.card-button {
  background-color: white;
  border-style: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: start;
}
