@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0,
}

.shadow__card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadow__button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shadow__header {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.recomendation {
  overflow-x: scroll;
  padding-bottom: 10px;
}

.button__startRecipe {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.shadow__button-inset {
  box-shadow: inset 0px 12px 20px -13px rgba(82,82,82,1);
}
