main {
  background-color: white;
  display: flex;
  height: 100%;
}

@font-face {
  font-family: logoFont;
  src: url('./fonts/frontendOS_font.ttf');
}

.main-page {
  display: flex;
  justify-content: space-between;
}

.main-content {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

